<link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
<br><div class="">
  <h1 id="header">Add Names</h1>
</div>
  <br>
  <hr>
  <br>
  <form class="" action="/" method="post">
    <h3>Please insert name</h3>
    <input type="text" name="newName" placeholder="Type your name here " required>
    <br>
    <br>
    <input type="submit" name="" value="submit">
    <hr class="secondRule">
    <h3>Please select a language</h3>
    <input id="english" type="radio" name="language" value="Hello" > English
    <input id="espanol" type="radio" name="language" value="Hola"> Espanol
    <input id="dutch" type="radio" name="language" value="Hallo"> Dutch
    <br>
  </form>
  <center>
  <button id='peopleGreetedButton' type="button" name="button"><a href="/peopleGreeted">People Greeted</a></button>
</center>
  <br>
  <h2>{{lang}} {{message}}{{name}}</h2>
  <footer class="footer">
    <center>
    <p>shannon.com
      <img src="https://www.spreadshirt.com/image-server/v1/designs/11245253,width=178,height=178/nerd-panda.png" alt="" height="50px"></p>
    </center>
    </footer>
