<link href="https://fonts.googleapis.com/css?family=Saira|Zilla+Slab+Highlight" rel="stylesheet">
  <h1>Add Names</h1>
  <br>
  <hr>
  <br>
  <br>
  <form class="" action="/" method="post">
    <input type="text" name="newName" placeholder="Type your name here " required>
    <input type="submit" name="" value="add">
    <br>
    <br>
    <hr id="secondRule">
    <input id="english" type="radio" name="language" value="Hello" > English
    <input id="espanol" type="radio" name="language" value="Hola"> Espanol
    <input id="dutch" type="radio" name="language" value="Hallo"> Dutch <br>
  </form>
  <p>{{counter}}</p>
  <h1>{{lang}}{{message}}{{name}}</h1>
