<h1>Greeted Names</h1>
<!-- {{#if messages.error}}
<div class="error">
  {{messages.error}}
  <br>
  <br>
</div>

{{/if}} -->
<a href="/">greet me</a>


<ul>
  {{#each name}}
  <li>{{@key}} {{this}}</li>
  {{/each}}
</ul>
