<br>
<div class="">
<h1>Greeted Names</h1>
</div>
<button id="greetMeButton"type="button" name="button"><a href="/greet">greet me</a></button>

<ul>
  {{#each name}}
  <li>{{@key}} {{this}}</li>
  {{/each}}
</ul>
<footer class="footer">
  <center>
    <p><a href="https://shannonsn.github.io/portfolio/" target="_blank">Github Profile</a>
    <img src="https://www.spreadshirt.com/image-server/v1/designs/11245253,width=178,height=178/nerd-panda.png" alt="" height="50px"></p>
  </center>
  </footer>
